<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link href='https://fonts.googleapis.com/css?family=Palanquin' rel='stylesheet'>
       
        {{style("CSS/reset")}}

        {{--  @include("global-css")  --}}
         @!section("style-section")
         

         <style>
             
         body {font-family: 'Palanquin';}
 ul {
             
  list-style-type: none;
  width:auto ;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(222, 74, 108);
  
}

li {
  float: left;
  /* border-right:1px solid #bbb; */
}

li:last-child {
  border-right: 3rem;
 
}

li a {
  display: block;
  color: rgb(247, 193, 167);
  font-size: 16px;
  text-align: center;
  position: relative;
  padding: 14px ;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: lightpink;
}

.active {
  background-color: #790b54;
}

.crop{
  margin-left: 1rem; 
}

.crop-right{
  margin-right: 1rem;
}
         </style>
    </head>

<body>
    @!section("content")
    

    {{--  {{script(js/index)}}      --}}
</body>
</html> 
