@layout('layout')

@section("style-section")

{{ style("css/login") }}

@endsection


@section("section")
    <div class="container">
        <div class="content-container">
            <span class="hero">Register</span> 
        </div>
    </div>
@endsection
