<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
      

        <title>Register</title>
        {{style("CSS/reset")}}
         {{style("CSS/login")}}
    </head>

<body>
<div class="container">
   
    <span class="hero-text">    
        Register 
    </span>
    
    
</div>
</body>
</html> 
