.container{
    height: 100%;
    display: flex ;
    flex-direction: row;  
}

    .content-container{
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    
    }
    .hero{
        font-size: 3rem;
    }