.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: azure;
  overflow: hidden;
}

.head-text {
  color: rgb(247, 193, 167);
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 900;
}

.background-color {
  background-color: black;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: px;
  font-weight: 100;
  margin-bottom: 2em;
}


.text-z-index {
  position: relative;
  z-index: 200;
}

a{
  color: white;
}

.footer{
  /* display: flex; */
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(222, 74, 108);
  bottom: 0;
  width: 100%;
  height:10em auto;
}
.images-contact{
  
  display: flex;
  flex:5;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 5rem 1rem 5rem;
}

.foot-text{
  display: flex;
  flex:5;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 2.5rem;
  color: white;
}