
.header{
    background-image: url("img/parasite2.jpg");
    width: 100%;
     background-repeat:no-repeat;
     background-position: center top;
     display:block;
     margin:0px auto; 
     
   }