
  .container{
    display: flex;
    flex: 1;
    height: auto;
  }
  
  .background-wish{
    background-image:url(../img/TrainToBusan5.jpg) ;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center
  }

  .box-container{
    width: 30rem;
    height:auto;
    background-color: #FF9295;
    position: relative;
    border-radius: 5%;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 3px solid  #790b54;
    
 }

 .text p{
    margin-top: 3rem;
  }

  
